<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(url: login_path, class: "p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <h1 class="text-center mt-4 mb-4 text-white">Entrar</h1>   
        <div class="form-group row justify-content-center">
          <div class="col-10"> 
            <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Email" %>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-10"> 
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Senha" %>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <%= f.submit "Entrar", class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>