<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Gerenciador de Tarefas</h1>
    <p class="lead">Criado em Ruby on Rails 6, gerenciando <%= Task.count %> tarefas de <%= User.count %> usuários.</p>
    <hr class="my-4">
    <p>Usuário padrão para acesso: <strong>admin@teste.com | Senha: 1234</strong></p>
  </div>
</div>
