@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: gray !important;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {  
  background-color: gray !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;  
}

#sticky-footer {
  flex-shrink: none;
  background-color: lightgray !important;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
.first{
  padding : 0;
  float: none;
  border: none;
}
.prev {
  padding : 0;
  float: none;
  border: none;
}
.page{
  padding : 0;
  float: none;
  border: none;
}
.next{
  padding : 0;
  float: none;
  border: none;
}
.last{
  padding : 0;
  float: none;
  border: none;
}
}