<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Gerenciador de Tarefas", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tarefas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Criar nova tarefa", new_task_path, class: "dropdown-item" %>        
          <%= link_to "Ver tarefas", tasks_path, class: "dropdown-item" %>          
        </div>
      </li>    
    </ul>
    <a class="nav-link" href="#">Sair</a>
  </div>
</nav>